{% extends 'pages/base/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="container mt-4 ">
   <h1> Creer un nouveau bien </h1>
   {{ include ('pages/admin/property/_form.html.twig',{form: form, button: 'Creer'} )}}
</div>

{% endblock %}

{% block stylesheets %}



{% endblock %}

{%  block javascripts %}



{% endblock %}